.main {
    width: 70%;
    margin: 0% 15% 0% 15%;
    border: 1px solid red;
    padding: 0px;
}
.Todo-app {
    font-size: 2vw;
    color: green;
    margin: 3% 0% 0% 35%;
}
.form-content {
    margin: 10% 10% 0% 10%;
}
.button-group {
    margin: 5% 15% 0% 15%;
}