<div class="main">
    <h3 class="Todo-app">To Do App </h3>

   <div class="form-content">
    <form  #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
      <input type="text" name="taskName" placeholder="Task Name"  ngModel> <br> <br>
      <button class="btn btn-primary" type="submit"> Save </button> 
    </form>

   </div>

    <div class="button-group"> 
    <button class="btn btn-primary" (click)="onFetchPosts()"> Fetch  </button> 
    <button class="btn btn-primary"> Update</button> 
    <button class="btn btn-primary" (click)= "Delete()"> All Delete</button>

    <div>

      <td>
        <tr>
          <th>Task Name</th>
          <th>Update</th>
          <th>Delete</th>
        </tr>
        <tr *ngFor="let obj of loadedPosts; let j=index">
          <td>{{ obj.taskName }}</td>
      <td>

       <button [routerLink]= "['/update', obj._id]">UPDATE</button>
      </td>
          <td>
          <button (click)="deleteByid(obj)">Delete</button>
          </td>
        </tr>
      </td>

    </div>
    </div>
  </div>
